fieldset {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #e3c78e;
  padding: 10px;
  border-radius: 1em;
  background-image: url(https://cdn.pixabay.com/photo/2022/08/24/11/10/autumn-7407475_960_720.jpg);
  background-position: 4em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li {
  margin-top: 1em;
}
form li {
  font-weight: 900;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
input,
textarea {
  font: 1em "Lucida Sans";
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}
input:focus,
textarea:focus {
  border: 4px solid #e3c78e;
}
textarea {
  vertical-align: top;
  height: 10em;
}
.button {
  padding-left: 170px;
}
button:hover {
  margin-left: 0.3em;
  border: 1px solid #e3c78e;
  padding: 10px;
  background-color: white;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #e3c78e;
}
button {
  margin-left: 0.3em;
  border: 1px solid #e3c78e;
  padding: 10px;
  background-color: #e3c78e;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
legend {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
  color: #e3c78e;
}
